:root {

    /* PRIMARY COLORS */

    --clr-primary-dcyan: hsl(158, 36%, 37%); 
    --clr-primary-crm: hsl(30, 38%, 92%);

    /* NEUTRAL COLORS */

    --clr-neutral-db: hsl(212, 21%, 14%);
    --clr-neutral-dgb: hsl(228, 12%, 48%); 
    --clr-neutral-white: white;
    
    /* FONT SIZES */

    --fs-sm: .675rem; 
    --fs-base: 1rem; 
    --fs-md: 1.5rem; 
    --fs-large: 1.7rem; 

    /* FONT WEIGHT */

    --fw-regular: 400; 
    --fw-md: 500; 
    --fw-semi-bold: 600; 
    --fw-bold: 700; 
    --fw-ex-bold: 800; 

    /* FONT FAMILIES */

    --ff-montserrat: "Montserrat", sans-serif; 
    --ff-fraunces: "Fraunces", serif;
}

*{
    box-sizing: border-box; 
    margin: 0; 
    padding: 0; 
    font: inherit; 
}

html,
body {
    
    height: 100%;
}

h3, p {
    font-family: var(--ff-montserrat); 
}

body {
    display: grid; 
    justify-content: center;
    align-items: center;
    background: var(--clr-primary-crm);
}

.card-container { 
    display: grid; 
    grid-template-columns: repeat(2, 1fr);
    max-width: 500px;
}

.image-section > :nth-child(2) {
    display: none; 
}

.image-section {
    display: flex; 
    /* align-items: center; 
    justify-content: center; */
    width: 100%; 
    /* aspect-ratio: 1 / 2; */
     

}

.image-section img{
    width: 100%;
    
}

.image-section > :nth-child(1) {
    border-radius: .5rem 0 0 .5rem; 
}


.product-info {
    grid-area: 1 / 2;
    width: 100%;
    /* aspect-ratio: 1 / 1.5; */
    background: var(--clr-neutral-white); 
    padding: 1rem; 
    display: flex; 
    flex-direction: column; 
    gap: 1.5rem; 
    border-radius: 0 .5rem .5rem 0; 

    
}

header h3 {
    color: var(--clr-neutral-dgb);
    letter-spacing: 3px;
    font-size: .7rem;
    margin-bottom: 1rem; 
    font-weight: var(--fw-bold); 
}

header h2 {
     color: var(--clr-neutral-db);
     font-family: var(--ff-fraunces);
     font-size: var(--fs-large);
     font-weight: var(--fw-ex-bold);

}

main > :nth-child(1) {
    font-size: var(--fs-sm);
    font-weight: var(--fw-bold);
    color: var(--clr-neutral-dgb);

}

main > :nth-child(2) {
    display: flex; 
    align-items: center;
    gap: 1rem; 
    margin: 1.5rem 0 1.5rem 0 ; 
    color: var(--clr-primary-dcyan); 
    font-size: var(--fs-large); 
    font-weight: var(--fw-ex-bold); 
    font-family: var(--ff-fraunces);
}

span {
    color: var(--clr-neutral-dgb);
    font-size: var(--fs-sm); 
    font-weight: var(--fw-regular);
    

}

button {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;  
    background: var(--clr-primary-dcyan); 
    color: white; 
    border: none;
    font-size: var(--fs-sm); 
    font-weight: var(--fw-bold);
    padding: .5rem 3rem;
    margin-inline: auto; 
    border-radius: .5rem; 
    cursor: pointer;
}

button:hover,
button:focus {
    background: rgb(26, 64, 49); 
}

button img{
    width: .7rem;
    aspect-ratio: 1;
}

@media (max-width: 28em) { 

    body{
        padding: 1rem .8rem; 
    }

    header h2 {
        max-width: 14ch;
    }

  
    .card-container{
        grid-template-columns: repeat(1, 1fr);
        max-width: 300px;
    }
    .product-info {
        grid-area: 2 / 1; 
        border-radius: 0rem 0 .5rem .5rem;
    }

    .image-section > :nth-child(1){
        display: none; 
    }

    .image-section > :nth-child(2){
        display: block; 
        /* margin-bottom: -4rem; */
        
        border-radius: .5rem .5rem 0 0;
        

    }


}